<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Hello</title>
    
    <style type="text/css" media="screen">
      pre {background:#E7E7E7;border:1px solid #BDBDBD;padding:10px;width:80%;height:300px;overflow:auto;}
    </style>
  </head>
  
  <body>
    <h1>Scan Results:</h1>
    <pre><%=h @page.to_s %></pre>
    <ul>
    <% @scan.errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  </body>
</html>